services:
  - type: web
    name: beyondchats-backend
    runtime: php
    plan: free
    # Installs dependencies
    buildCommand: composer install --no-dev --optimize-autoloader
    
    # Runs migrations. Render automatically starts Nginx/PHP after this finishes.
    startCommand: php artisan migrate --force
    
    envVars:
      - key: APP_NAME
        value: BeyondChatsAPI
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      
      # IMPORTANT: Points Render to the correct folder
      - key: DOCUMENT_ROOT
        value: public

      # Database Linking
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromDatabase:
          name: beyondchats-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: beyondchats-db
          property: port
      - key: DB_DATABASE
        fromDatabase:
          name: beyondchats-db
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: beyondchats-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: beyondchats-db
          property: password

databases:
  - name: beyondchats-db
    plan: free
    databaseName: beyondchats
    user: beyondchats